.particle-shop-wrapper{
    position: relative;
    height: 1000px;
    width:  100vw;
    background-color: white;
}

.shop-header{
    position: relative;
    background-color: white;
    border-bottom: 1px solid black;
    padding: 40px;
}

.header-title{
    font-size: 32px;
    font-family: "Open Sans";
    font-weight: 800;
    color: #2f3640;
}

.shopping-bag{
    position: absolute;
    right: 75px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #3498db;

}

.shop-jumbotron{
    position: relative;
    background-color: #2f3640;
    padding-top: 1px;
    height: 350px;
    width: 100%;
}

.jumbo-text{
    text-align: center;
    margin-top: 50px;
    color: white;

}
.jumbo-text-1{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 55px;
}

.jumbo-text-2{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    font-size: 20px;
    margin-top: 20px;
}

.jumbo-button{
    position: relative;
    color: #2f3640;
    background-color: white;
    
    left: 50%;
    transform: translateX(-50%);
    font-family:  Poppins;
    font-weight: bold;
    border-style: none;
    margin-top: 40px;
    padding: 10px 40px;
    border-radius: 3px;
    font-size: 20px;
    border: 2px solid #2f3640;
    transition: 0.4s;
}

.jumbo-button:hover{
        color: white;
        background-color: #2f3640;
       border-color:white;
       cursor: pointer;
    }

.popular-items{
    
 
}

.popular-items-wrapper{
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}


.popular-items-title{
  text-align: center;
  font-family: Poppins;
  font-weight: bold;
  margin-top: 50px;
  font-size: 25px;
  color: #2f3640;
    
}

.about-us-title{
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
    margin-top: 70px;
    font-size: 25px;
    color: #2f3640;
    margin-bottom: 40px;
      
  }
.about-us-wrapper{
    position: relative;
   
    width: 100%;
    height: 700px;
}



    .about-us-art{
        position: relative;
        
        width: 400px;
        height: 400px;
        padding: 20px;
        margin-left: 120px;
        float: left;
    }


    .cube-row{
      
       
        margin-top: 20px;
        display: flex;
        align-items: center;
        
    }

    .cube-row-1{
        display: flex;
    }


    .about-us-text{
        position: relative;
        float: left;
        margin-left: 100px;
        margin-top: 30px;

    }

    .text-body-1{
     
        width: 600px;
        font-family: 'Open Sans';
        font-size: 19px;
        font-weight:600;
        margin-bottom: 20px;
    }