.popular-item-container{
    display: inline-block;
    margin-top: 50px;

    background-color: #f5f6fa;
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    box-shadow: 1px 1px 10px 1px rgb(68, 68, 68);
    transition: 0.2s;
    
}

.popular-item-container:hover{
    
    box-shadow: 1px 1px 10px 6px rgb(68, 68, 68);
    cursor: pointer;
}


.item-header{
    position: relative;
    border-bottom: 2px solid black;

    padding: 15px;
 
}

.element-name{
 
font-family: Roboto;
font-weight: 600;
font-size: 20px;
}

.element-symbol{
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
}

.element-number{
    position: absolute;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    top: 20px;
    right: 20px;
}
.element-weight{
    position: absolute;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    bottom: 20px;
    right: 20px;
}
.item-footer{
    position: relative;
    border-top: 2px solid black;
    padding-top: 20px;
    bottom: 0px;
    width: 100%;
 
    background-color: #f5f6fa;
}

.element-price{
    position: relative;
    
    top: -5px;
    padding-left: 40px;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: bold;
}


.buy-element-button{
    position: absolute;
    right: 20px;
    top: 27px;
    transform: translateY(-50%);
    border-style: none;
    border-radius: 5px;
    background-color: #0066ff;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 19px;
    color: white;
    padding: 3px 15px;
    transition: 0.4s;
    z-index: 4;
}

.buy-element-button:hover{
    background-color: #2708eb;
    cursor: pointer;
}